@charset "UTF-8";

h2{
	font-size: 3.5rem;
	margin-bottom: 4rem;
}

header{
	color : white;
	padding-top : 10px;
	padding-left : 20px;
	padding-bottom : 5px;
	margin-bottom : 20px;
	background-color: rgb(39, 44, 61);
}

label{
	margin-right: 50px;
}

#loginIdLabel{
	padding-left: 21px;
}

#loginId {
	margin-left: 2px;
	margin-bottom: 15px;
}

#loginOK{
	margin-top: 22px;
	margin-left: 125px;
}


