@charset "UTF-8";

* {
	font-size: 1.1rem;
}

p {
	margin-bottom: 0;
}

a {
	font-size: 1.1rem;
}

a:hover {
	text-decoration: none;
}

#Title {
	font-size: 3.5rem;
	color: white;
	margin-top: 2rem;
}

h2 {
	font-size: 3.5rem;
	margin-bottom: 3rem;
}

#topMenu {
	color: white;
}

#topMenuUnusable {
	color: grey;
}

header {
	color: white;
	padding-top: 10px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 5px;
	background-color: rgb(39, 44, 61);
}

label {
	margin-right: 50px;
	margin-bottom: 1rem;
}

#loginIdLabel {
	padding-left: 21px;
}

#loginId {
	margin-left: 6px;
	margin-bottom: 15px;
}

#loginOKButton {
	margin-top: 22px;
	margin-left: 140px;
}

#logErrorMessages {
	margin-top: 20px;
}

.card {
	margin: 0.5rem;;
}

#categorieSelectButton {
	margin-bottom: 8px;
}

#signUpNomLabel {
	padding-left: 20px;
}

#signUpPrenomLabel {
	margin-left: -4px;
}

#signUpEmailLabel {
	margin-left: 16px;
}

#signUpTelephoneLabel {
	margin-left: -26px;
}

#signUpRueLabel {
	margin-left: 30px;
}

#signUpCodePostalLabel {
	margin-left: -38px;
}

#signUpVilleLabel {
	margin-left: 27px;
}

#signUpMdpLabel {
	margin-left: -52px;
}

#signUpMdpNLabel {
	margin-left: -115px;
}

#signUpMdpNewLabel {
	margin-left: -135px;
}

#signUpConfirmationLabel {
	margin-left: -49px;
}

#profilPseudoLabel {
	text-decoration: underline;
}

#profilNomLabel {
	margin-left: 20px;
	text-decoration: underline
}

#profilPrenomLabel {
	margin-left: -5px;
	text-decoration: underline
}

#profilEmailLabel {
	margin-left: 16px;
	text-decoration: underline
}

#profilTelephoneLabel {
	margin-left: -26px;
	text-decoration: underline
}

#profilRueLabel {
	margin-left: 29px;
	text-decoration: underline
}

#profilCodePostalLabel {
	margin-left: -39px;
	text-decoration: underline
}

#profilVilleLabel {
	margin-left: 26px;
	text-decoration: underline
}

#profilModifButton {
	margin-left: 49px;
	margin-top: 25px;
	margin-bottom: 100px;
}

#signUpCreditLabel{
	margin: 10px 48px 18px 13px;
}

#ModifCrédit{
	margin: 0px 0px 0px 0px;
}

.mdpCom {
	margin-top: 5px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 0.9rem;
}

.inscriptionButtons {
	margin-top: 20px;
	margin-left: 70px;
	margin-bottom: 100px;
}

#inscriptionButton {
	margin-right: 101px;
}

#articlesListe {
	margin-top: 30px;
}

#bread {
	margin-left: 22px;
}

#profilTitle {
	margin-left: -91px;
}

.ModifProfilButtons {
	margin-top: 20px;
	margin-left: -24px;
	margin-bottom: 100px;
}

#DetailArticleButton {
	margin-top: 15px;
	margin-left: 55px;
}

#detailsArticle {
	margin-left: 325px;
	margin-bottom: 50px;
}

#MakeAnEnchereButton {
	margin-top: -7.5px;
}

#cateArt {
	margin-left: 15px;
}

#bestOfferArt {
	margin-left: -27px;
}

#misePrixArt {
	margin-left: 7px;
}

#finEncArt {
	margin-left: -34px;
}

#retraitArt {
	margin-left: 45px;
}

#vendeurArt {
	margin-left: 30px;
	margin-bottom: 25px;
}

#porpositionArt {
	margin-left: -30px;
}

#footer{
	color: white;
	font-size: 1.2rem;
	background-color: rgb(39, 44, 61);
	text-align: center;
	margin-top: 235px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#noArticleAlerte{
	margin-top: 80px;
	margin-left: 285px;
	padding: 20px 100px 20px 100px;
}

#loginError{
	margin-left: 60px;
	padding: 20px 146px 20px 360px;
}

#deleteButton{
	margin: 687px 0px 0px 0px;
}

#detailsVendeurBtn{
	margin: -50px 0px 0px 227px
}

#CreaVenteDesc{
	margin: 0px 47px 0px -41px;
}

#CreaVenteCat{
	margin: 15px 47px 0px -34px;
}

#CreaVenteImage{
	margin: 15px 47px 0px -87px;
}

#CreaVentePrixInit{
	margin: 15px 50px 0px -40px;
}

#CreaVenteDebEnchere{
	margin: 15px 52px 0px -110px;
}

#CreaVenteFinEnchere{
	margin: 15px 52px 0px -82px;
}

#CreaVenteRue{
	margin: 15px 55px 0px 18px;
}

#CreaVenteCodeP{
	margin: 15px 54px 0px -49px;
}

#CreaVenteVille{
	margin: 15px 53px 0px 17px;
}

#CreaVenteBtn{
	margin: 34px 0px 0px 75px;
}

#AfficherDétailsArticle{
	margin: 63px 0px 0px -221px;
}

#AfficherDétailTitle{
	margin: 0px 0px 45px 265px;
}

#NomArt{
	margin: 0px 0px 35px 240px;
}

#AccueilAchatsRadio{
	margin: 20px 0px 0px 0px;
}

#AccueilVentesRadio{
	margin: -161px 0px 20px 400px;
}

#achat{
	margin: 0px 0px 0px 0px;
}

#EnchereOuvCheck{
	margin: 0px 24px 10px 10px;
}

#MesEncheresCheck{
	margin: 0px 24px 10px 48px;
}

#EnchereWinCheck{
	margin: 0px 24px 0px -55px;
}

#myOffer{
	margin: -76px -25px 0px 536px;
}